<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxs-castle'></i>
        <span class="logo_name">ATN TOYS</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#" class="active">
                <i class="fa-solid fa-basketball"></i>
                <span class="links_name">Toys</span>
            </a>
        </li>
    </ul>
</div>