/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --primary-color: #1d9cfe;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo-details i {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin-right: 12px;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-right: 8px;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #081D45;
}

.sidebar .nav-links li a:hover {
    background: #081D45;
}

.sidebar .nav-links li i {
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-left: 42px;
    margin-right: 10px;
}

.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #fff;
    position: fixed;
    width: calc(100% - 240px);
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .search-box {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}

nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}

.home-section .home-content {
    position: relative;
    padding-top: 80px;
}


/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }

    .sidebar.active {
        width: 220px;
    }

    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section {
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }

    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 0;
    }

    .sidebar.active {
        width: 60px;
    }

    .home-section {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section {
        left: 60px;
        width: calc(100% - 60px);
    }

    .home-section nav {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section nav {
        left: 60px;
        width: calc(100% - 60px);
    }
}

/* Section body */
.section__body {
    padding: 12px;
}

/* Table */
.main-content {
    background-color: #fff;
    padding: 24px 24px 12px;
    margin-top: 12px;
}

.content-table {
    border-collapse: collapse;
    font-size: 16px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    margin: 24px auto;
}

.content-table thead tr {
    background-color: var(--primary-color);
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: var(--primary-color);
}

@media (max-width: 1023px) {
    .content-table thead tr {
        display: none;
    }

    .content-table tr {
        display: block;
    }

    .content-table th,
    .content-table td {
        padding: 10px;
    }

    .content-table td {
        text-align: right;
        display: block;
        font-size: 1em;
    }

    .content-table td::before {
        content: attr(data-title);
        font-weight: bold;
        float: left;
        padding-right: 10px;
    }

    .content-table tbody tr {
        border: 3px solid var(--primary-color);
        margin-bottom: 24px;
    }
}

/* Button */
.btn {
    width: 120px;
    height: 36px;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 500;
    padding: 0;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn i {
    margin-right: 8px;
}

.btn.add {
    background-color: var(--primary-color);
}

.btn.edit {
    background-color: #fc0;
}

.btn.delete {
    background-color: #f13637;
}

/* Input form */
.container {
    width: 100%;
    background-color: #fff;
    padding: 15px 24px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 156px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .product-details {
    margin-top: 20px;
}

form .product-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .product-details .input-box.category {
    width: 100%;
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.product-details .input-box select,
.product-details .input-box textarea,
.product-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.product-details .input-box input:focus,
.product-details .input-box input:valid {
    border-color: #9b59b6;
}

.product-details .input-box input[type="file"] {
    padding-top: 9px;
}

.product-details .input-box textarea {
    height: auto;
    padding-right: 15px;
    font-size: 16px;
}

.product-details .input-box .text-danger {
    font-size: 1em;
    line-height: 1.4em;
    color: red;
}

form .button {
    width: 124px;
    height: 48px;
    margin-top: 12px;
    margin-right: 12px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #027bfe;
    font-size: 1.125em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

form .button.back {
    background-color: #f13637;
}